Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

Update composer
  composer.lock
Due: test-php-73

Add Custom Text Field Migrations
  migrations/1697187247-add-standort-custom-text-field.sql
Due: none

Update Custom Text Field Migrations
  migrations/1697187247-add-standort-custom-text-field.sql
Due: none

bugfix(ZMS-1564): fix lock timeout
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

Revert "bugfix(ZMS-1564): fix lock timeout"
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

reenable calldisplay tests, they should work now, since the database has been adjusted
  tests/Zmsdb/CalldisplayTest.php
Due: test-php-73, pages

reenable asserting in ExchangeUnassigned Scope Test
  tests/Zmsdb/ExchangeUnassignedscopeTest.php
Due: test-php-73, pages

Add costum text field to query
  src/Zmsdb/Query/Process.php
  src/Zmsdb/Query/Scope.php
Due: test-php-73, pages

Change template for scope settings
  src/Zmsadmin/Application.php
  templates/block/scope/form.twig
Due: test-php-73, pages

Change template for scope settings
  templates/block/scope/form.twig
Due: test-php-73

run all tests
  phpunit.xml
Due: none

Change template for form settings
  templates/block/appointment/form.twig
  templates/block/queue/table.twig
Due: test-php-73

add scopes to schema of source
  schema/source.json
Due: none

update composer lock to pull newest entities
  composer.lock
Due: test-php-73

adjust tests. needs to be verified by implementers.
  tests/Zmsdb/ProcessArchiveTest.php
Due: test-php-73, pages

Update Templates and prep queries
  src/Zmsadmin/Helper/GraphDefaults.php
  src/Zmsadmin/ProcessChange.php
  src/Zmsadmin/ProcessQueue.php
  src/Zmsadmin/ProcessReserve.php
  src/Zmsadmin/ScopeAppointmentsByDayXlsExport.php
  templates/block/appointment/form.twig
  templates/block/queue/table.twig
Due: test-php-73, pages

Add costum text field to query
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

process.php
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

Update Schemas
  package-lock.json
  schema/dereferenced/appointment.json
  schema/dereferenced/availability.json
  schema/dereferenced/calendar.json
  schema/dereferenced/calldisplay.json
  schema/dereferenced/cluster.json
  schema/dereferenced/day.json
  schema/dereferenced/department.json
  schema/dereferenced/mail.json
  schema/dereferenced/notification.json
  schema/dereferenced/process.json
  schema/dereferenced/scope.json
  schema/dereferenced/session.json
  schema/dereferenced/ticketprinter.json
  schema/dereferenced/workstation.json
  schema/mail.json
  schema/process.json
  schema/scope.json
  schema/session.json
Due: none

add customtextfield methods
  src/Zmsentities/Process.php
  src/Zmsentities/Validator/ProcessValidator.php
Due: test-php-73, pages

Add validators
  src/Zmsadmin/Helper/GraphDefaults.php
  src/Zmsadmin/ProcessChange.php
  src/Zmsadmin/ProcessQueue.php
  src/Zmsadmin/ProcessReserve.php
Due: test-php-73, pages

Fix delete appointment process
  src/Zmsdb/Process.php
Due: test-php-73, pages

Fix delete appointment process
  src/Zmsentities/Process.php
Due: test-php-73, pages

Fix excel sheet export for process
  src/Zmsadmin/ScopeAppointmentsByDayXlsExport.php
Due: test-php-73, pages

Fix resolver 2 api
  src/Zmsdb/Source.php
Due: test-php-73, pages

Remove whitespace
  src/Zmsadmin/ProcessQueue.php
  src/Zmsadmin/ScopeAppointmentsByDayXlsExport.php
Due: test-php-73, pages

fix bug fill freetext field
  src/Zmsentities/Process.php
Due: test-php-73, pages

Fix migrations
  migrations/1697187247-add-standort-custom-text-field.sql
Due: none

fix format
  src/Zmsentities/Process.php
Due: test-php-73, pages

fix format
  schemavalidation.log
Due: none

Update Composer
  composer.lock
Due: test-php-73

Fix composer
  composer.json
  composer.lock
Due: test-php-73

Fix composer
  composer.json
  composer.lock
  phpunit.xml
Due: test-php-73

Fix composer
  package-lock.json
Due: none

Fix composer
  schemavalidation.log
Due: none

Fix composer
  codesize.xml
Due: none

refactor validators to switch case for clean code
  src/Zmsentities/Validator/ProcessValidator.php
  tests/Zmsentities/ProcessTest.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
