Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

refs #29839, #29799 - add route
  routing.php
Due: none

refs #31453 - add ticketprinter naming
  src/Zmsticketprinter/Helper/Ticketprinter.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

ref #30759 - get home paramter from ticketprinter array
  src/Zmsticketprinter/Helper/HomeUrl.php
  tests/Zmsticketprinter/HomeUrlTest.php
Due: test-php-73, pages

ref #29795 - redirect from old mehrfachkiosk and build buttonlist
  routing.php
  src/Zmsticketprinter/Helper/EntryFromOldRoute.php
  src/Zmsticketprinter/RedirectOld.php
Due: test-php-73, pages

ref #29801 - show multiple buttons by ticketprinter query paramter
  public/_css/img/abbrechen.png
  public/_css/img/handynummer_nachtragen.png
  public/_css/img/handynummer_uebermitteln.png
  public/_css/img/ja_nein.png
  public/_css/img/multibutton.png
  public/_css/img/naechster_kunde.png
  public/_css/img/textflaeche_klein.png
  public/_css/img/zahl.png
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  routing.php
  scss/block/buttons.scss
  scss/block/wartenummern.scss
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/buttons.twig
  templates/element/helper/form.twig
  templates/exception/bo/zmsentities/exception/ticketprinterunvalidbuttonlist.twig
  templates/page/buttonMultiRow_default.twig
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

refs #33748 - add secure token to config get
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/TicketprinterByScope.php
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexRedirectSingleScopeTest.php
  tests/Zmsticketprinter/IndexTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
  tests/Zmsticketprinter/ProcessByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

unit tests with twigexceptionhandler and routing 100%
  src/Zmsticketprinter/Exception/HomeNotFound.php
  src/Zmsticketprinter/Exception/ScopeNotFound.php
  src/Zmsticketprinter/Helper/TwigExceptionHandler.php
  templates/exception/bo/zmsticketprinter/exception/scopenotfound.twig
  tests/Zmsticketprinter/RoutingTest.php
Due: test-php-73, pages

allow customizing templates
  src/Zmsticketprinter/Helper/EntryFromOldRoute.php
  src/Zmsticketprinter/Helper/TemplateFinder.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/IntroText.twig
  templates/block/content/buttons.twig
  templates/block/content/estimatedWaitingClients.twig
  templates/block/content/estimatedWaitingTime.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/customized/buttonSingleRow_scope_559.twig
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexTest.php
Due: test-php-73, pages

ref #31328 - show notification amendment if enabled and waitingtime > delay time
  templates/page/customized/buttonDisplay_cluster_290.twig
  templates/page/customized/buttonDisplay_department_104.twig
  templates/page/customized/buttonDisplay_department_128.twig
  templates/page/customized/buttonDisplay_scope_185.twig
  templates/page/customized/buttonDisplay_scope_297.twig
  templates/page/customized/buttonDisplay_scope_403.twig
  templates/page/customized/buttonDisplay_scope_559.twig
  templates/page/customized/buttonDisplay_scope_615.twig
  templates/page/customized/default.twig
Due: test-php-73

ref #30142 - remove reload from notification container
  js/index.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

ref #32903 - new babel preset zmsticketprinter
  .gitignore
  tests/Zmsticketprinter/fixtures/GET_status.json
Due: test-php-73, pages

Silent chmod failure
  bin/configure
Due: none

create ticketprinter instance in helper class
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

use eslint for code checking
  .eslintrc.js
  gulp/tasks/codecheck.js
Due: none

ref #30758 - hide cursor also for buttons, input and select fields, disable cache for home redirect
  public/_css/img/invisible_Mauszeiger.cur
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/buttons.scss
  scss/block/wartenummern.scss
  scss/layout/main.scss
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  templates/layout/main.twig
Due: test-php-73, pages

ref #29796 - write reload time from entity in main template to read it with js
  js/page/main.js
  public/_js/index.js
  public/_js/index.js.map
  templates/layout/main.twig
Due: test-php-73

ref #30380 - exception for cluster without workstation counting scopes, display estimated data only if given
  templates/exception/bo/zmsdb/exception/cluster/scopeswithoutworkstationcount.twig
  templates/page/buttonDisplay_default.twig
Due: test-php-73

ref #31330 - fix to keep homeurl on redirect to single scope view
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single_home.json
Due: test-php-73, pages

ref #29799 - notification amendment with queue number, save notification request with telephone, 404 template, route to new home controller
  routing.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/Process.php
  templates/404.twig
  templates/block/content/buttons.twig
  templates/block/content/numberpad.twig
  templates/page/notification.twig
  templates/page/notificationAmendment.twig
Due: test-php-73, pages

refs #29792, #29794, #29808 - process controller and template, small template changes, update composer.lock
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/buttons.scss
  scss/block/wartenummern.scss
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterProcess.php
  templates/block/header/pageheader.twig
  templates/element/helper/form.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/process.twig
  templates/page/process_print.twig
Due: test-php-73, pages

ref #29796 - javascript and css for printing waitingnumber, set reload default if empty from tickerprinter
  js/index.js
  js/page/main.js
  js/page/process.js
  js/settings.js
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_js/index.js
  public/_js/index.js.map
  scss/block/content.scss
  scss/layout/print.scss
  scss/ticketprinter.scss
Due: none

ref #30850 - show waiting clients and time if exists
  templates/page/buttonDisplay_default.twig
Due: test-php-73

refs #31331 - refactored gulp and js settings with vendorjs and browserify, lightbox with dialog handling possible now
  .eslintrc.js
  Makefile
  bower.json
  gulp/browserify.js
  gulp/tasks/buildinfo.js
  gulp/tasks/default.js
  gulp/tasks/js.js
  gulp/tasks/lint.js
  gulp/tasks/scss.js
  gulp/tasks/vendor.js
  gulp/tasks/watch.js
  gulp/vendorlist.js
  gulpfile.js
  js/index.js
  js/lib/baseview.js
  js/lib/dialogHandler.js
  js/lib/utils.js
  js/settings.js
  public/_css/print.css
  public/_css/print.css.map
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_js/index.js
  public/_js/index.js.map
  public/_js/vendor.js
  public/_js/vendor.js.map
  routing.php
  scss/block/dialog.scss
  scss/block/lightbox.scss
  scss/ticketprinter.scss
  src/Zmsticketprinter/Helper/DialogHandler.php
  templates/block/content/dialog.twig
  templates/element/helper/dialog/force_https.twig
  templates/layout/main.twig
Due: test-php-73, pages

refs #31333 - fixed static in TemplateFinder
  src/Zmsticketprinter/Helper/TemplateFinder.php
Due: test-php-73, pages

ref #30763 - add hash to twigextensionhandler, add hash to template, fix template styling
  routing.php
  src/Zmsticketprinter/Helper/TwigExceptionHandler.php
  templates/block/header/pageheader.twig
  templates/exception/bo/layout.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotenabled.twig
  templates/exception/bo/zmsdb/exception/ticketprinterdisabledbyscope.twig
Due: test-php-73, pages

ref #31331 - cluster not allowed anymore in buttonlist
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexTest.php
Due: test-php-73, pages

refs #31334 - Removed uncessary API call
  src/Zmsticketprinter/TicketprinterByScope.php
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

ref #30150 - update process with telephone number and count sms send +1
  src/Zmsticketprinter/NotificationAssign.php
  templates/page/notification.twig
Due: test-php-73, pages

Unit Testing - ticketprinter by scope with and without cookie hash
  .gitignore
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_organisation_71.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist.json
Due: test-php-73, pages

unit tests 100%
  tests/Zmsticketprinter/CustomizedTemplateTest.php
Due: test-php-73, pages

add print default template and waiting number template
  templates/layout/print.twig
  templates/page/process_print.twig
Due: test-php-73

removed break lines from exception templates
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotenabled.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotfound.twig
Due: test-php-73

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
