Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

refs #35697 - waiting time equal to calldisplay
  src/Zmsticketprinter/Helper/QueueListHelper.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/estimatedWaitingTime.twig
Due: test-php-73, pages

Use VENDOR_PATH in bootstrap
  bootstrap.php
Due: none

add badges to readme
  README.md
Due: none

Update README.md
  README.md
Due: none

remove package-lock
  .gitignore
Due: none

fixed deprecated ready method of jQuery
  js/block/digital-clock.js
  js/index.js
  js/page/main.js
  js/page/process.js
  js/settings.js
Due: none

refs #36317 - fixed exception handling due to php7.0 change
  CHANGELOG.md
  routing.php
  src/Zmsticketprinter/Helper/TwigExceptionHandler.php
Due: test-php-73, pages

add vendor.zmsbase to gitignore
  .gitignore
Due: none

refs #35007 - do not ask for sms amendment if department sms settings are turned off
  templates/page/customized/default.twig
Due: test-php-73

refs #35009 - add link to error messages which allows scope reset
  routing.php
  src/Zmsticketprinter/Reset.php
  templates/exception/bo/layout.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotfound.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/unvalidbuttonlist.twig
  templates/page/reset.twig
Due: test-php-73, pages

Added v2.20.00 to CHANGELOG
  CHANGELOG.md
Due: none

refs #35009 - fix typos
  templates/exception/bo/zmsapi/exception/ticketprinter/unvalidbuttonlist.twig
  templates/page/reset.twig
Due: test-php-73

refs #36425 - disable HTTPS for cookies
  CHANGELOG.md
  js/page/newhash.js
Due: none

refs #38445 - remove BaseController constructor
  CHANGELOG.md
Due: none

refs #31537 - add calculation of reminder timestamp for process with and without appointment
  src/Zmsticketprinter/Helper/QueueListHelper.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/Process.php
  tests/Zmsticketprinter/NotificationAssignTest.php
  tests/Zmsticketprinter/fixtures/GET_process_100044_57c2.json
  tests/Zmsticketprinter/fixtures/GET_queuelist_141.json
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
