Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refs #55432 - changes for php8 compatibility
  bin/test
  src/Zmsticketprinter/Helper/Ticketprinter.php
Due: test-php-73, pages

refs #34579 - show waitingtime as unknown if ghostworkstation count 0
  templates/block/content/estimatedWaitingTime.twig
Due: test-php-73

Fixes JS-Builds, see zmsadmin for reasons
  gulp/tasks/js.js
Due: none

update public js and css
  public/_css/abbrechen.7e22ca91.png
  public/_css/abbrechen_a.5a01cf8c.png
  public/_css/background_eingabe.ae7e8751.png
  public/_css/handynummer_nachtragen.9c614106.png
  public/_css/handynummer_uebermitteln.c0f38bb3.png
  public/_css/handynummer_uebermitteln_a.252894e6.png
  public/_css/handynummer_uebermitteln_i.4318f88d.png
  public/_css/invisible_Mauszeiger.e2f2051c.cur
  public/_css/ja_nein.637636e8.png
  public/_css/multibutton.83c50e21.png
  public/_css/multibutton_disabled.88cc3927.png
  public/_css/naechster_kunde.d114d62f.png
  public/_css/textflaeche_gross.aea52c3f.png
  public/_css/textflaeche_klein.c157c19f.png
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_css/wartenummer_anfordern.104ebf2b.png
  public/_css/zahl.bd8cc4dd.png
  public/_css/zahl_a.e1088f12.png
  public/_js/index.js
  public/_js/index.js.map
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
