Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    variables:
      PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsmessaging

build-docker:
    extends: .build-docker
    variables:
        PHP_VERSION: "8.0"
    only:
        - tags
        - main
        - /^[a-z]+[\/-]bug[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]feature[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]hotfix[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]dev(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]test(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]release[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]prod$/
        - /^[a-z]+[\/-]main$/

refs #31453 - check list not with count but with null
  src/Zmsticketprinter/Helper/QueueListHelper.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refs #55431 - changes for the slim update
  bootstrap.php
  routing.php
  src/Zmsticketprinter/Healthcheck.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/RedirectOld.php
  src/Zmsticketprinter/Reset.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/print.twig
  tests/Zmsticketprinter/RoutingTest.php
Due: test-php-73, pages

refs #56722 - fixed typos
  templates/block/content/estimatedWaitingTime.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotfound.twig
  templates/page/process.twig
Due: test-php-73

add package-lock.json because of npm audit tests in ci chain
  .gitignore
Due: none

refs #35007 - add test fixtures and tests
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
  tests/Zmsticketprinter/ProcessByScopeWithNotificationTest.php
  tests/Zmsticketprinter/fixtures/GET_department_74.json
  tests/Zmsticketprinter/fixtures/GET_department_74_withoutNotificationEnabled.json
Due: test-php-73, pages

update package.json with new parcel bundler, add js audit to gitlab ci
  .gitignore
  js/template/welcome.html
Due: none

refs #32626 - Config for performance optimization
  CHANGELOG.md
  bootstrap.php
  src/Zmsticketprinter/Application.php
Due: test-php-73, pages

generated
  public/_css/abbrechen.9455b46f.png
  public/_css/abbrechen_a.c1c76ee1.png
  public/_css/background_eingabe.33b1bd0d.png
  public/_css/handynummer_nachtragen.89c87dc3.png
  public/_css/handynummer_uebermitteln.717299f7.png
  public/_css/handynummer_uebermitteln_a.c40c8a63.png
  public/_css/handynummer_uebermitteln_i.fa02afc9.png
  public/_css/invisible_Mauszeiger.6181f13e.cur
  public/_css/ja_nein.1f42cbb4.png
  public/_css/multibutton.fb961a00.png
  public/_css/multibutton_disabled.7c13adc6.png
  public/_css/naechster_kunde.34f1134e.png
  public/_css/textflaeche_gross.471ae39e.png
  public/_css/textflaeche_klein.fcffe681.png
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_css/wartenummer_anfordern.7db5426b.png
  public/_css/zahl.7cbb43b7.png
  public/_css/zahl_a.463b235e.png
  public/_js/index.js
  public/_js/index.js.map
Due: none

get url base path for cookie path from request object
  src/Zmsticketprinter/Helper/HomeUrl.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  tests/Zmsticketprinter/HomeTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
Due: test-php-73, pages

refs #35385 - dev hint only for environments dev and stage
  CHANGELOG.md
  templates/layout/main.twig
Due: test-php-73

refs #56722 - remove double entity call
  src/Zmsticketprinter/Index.php
Due: test-php-73, pages

refs #31328 - get queue list with sorted arrival to get correct last entry, get queue position in queuelist for new process to get waiting clients before
  src/Zmsticketprinter/Helper/QueueListHelper.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/page/process.twig
  tests/Zmsticketprinter/fixtures/GET_queuelist_141.json
  tests/Zmsticketprinter/fixtures/GET_queuelist_312.json
Due: test-php-73, pages

#56991 - The curl option for setting up an API proxy server has been added to the configuration
  CHANGELOG.md
  config.example.php
Due: none

update composer, fixed review comments
  src/Zmsticketprinter/Helper/Ticketprinter.php
Due: test-php-73, pages

refs #35764 - deploy tokens + composer.lock
  CHANGELOG.md
Due: none
