Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    variables:
      PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsmessaging

build-docker:
    extends: .build-docker
    variables:
        PHP_VERSION: "8.0"
    only:
        - tags
        - main
        - /^[a-z]+[\/-]bug[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]feature[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]hotfix[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]dev(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]test(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]release[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]prod$/
        - /^[a-z]+[\/-]main$/

code fix
  src/Zmsticketprinter/Helper/HomeUrl.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

MONOLOG_LOGLEVEL -> DEBUGLEVEL
  config.example.php
Due: none

ref #29783 - customized templates for some scopes, cluser and departments
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/buttons.scss
  src/Zmsticketprinter/Helper/TemplateFinder.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/IntroText.twig
  templates/block/content/buttons.twig
  templates/page/buttonDisplay_default.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/customized/buttonDisplay_cluster_290.twig
  templates/page/customized/buttonDisplay_department_104.twig
  templates/page/customized/buttonDisplay_department_128.twig
  templates/page/customized/buttonDisplay_scope_185.twig
  templates/page/customized/buttonDisplay_scope_297.twig
  templates/page/customized/buttonDisplay_scope_403.twig
  templates/page/customized/buttonDisplay_scope_559.twig
  templates/page/customized/buttonDisplay_scope_615.twig
Due: test-php-73, pages

ref #30850 - fixed missing else in process template
  templates/page/process.twig
Due: test-php-73

ref #30048 - change api calls to get organisation
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/Process.php
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexRedirectSingleScopeTest.php
  tests/Zmsticketprinter/IndexTest.php
  tests/Zmsticketprinter/MessageTest.php
  tests/Zmsticketprinter/NotificationAmendmentTest.php
  tests/Zmsticketprinter/NotificationByScopeTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

ref #31328 - refactored notification buttons with config parameter if scope prefenreces not set
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/buttons.twig
  templates/page/customized/buttonDisplay_cluster_290.twig
  templates/page/customized/buttonDisplay_department_104.twig
  templates/page/customized/buttonDisplay_department_128.twig
  templates/page/customized/buttonDisplay_scope_185.twig
  templates/page/customized/buttonDisplay_scope_297.twig
  templates/page/customized/buttonDisplay_scope_403.twig
  templates/page/customized/buttonDisplay_scope_559.twig
  templates/page/customized/buttonDisplay_scope_615.twig
  templates/page/customized/default.twig
  templates/page/customized/time.twig
  templates/page/customized/timewait.twig
  templates/page/customized/wait.twig
  templates/page/process.twig
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexRedirectSingleScopeTest.php
  tests/Zmsticketprinter/IndexTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_config.json
  tests/Zmsticketprinter/fixtures/GET_process_100044_57c2_with_notifications.json
Due: test-php-73, pages

add make css, js and coverage to Makefile
  Makefile
Due: none

ref #29755 - start converting css to scss with settings, pages and blocks
  gulp/tasks/scss.js
  public/_css/img/background_eingabe.png
  public/_css/img/textflaeche_gross.png
  public/_css/img/wartenummer_anfordern.png
  public/_css/index.css
  public/_css/index.css.map
  public/_css/print.css
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/alerts.scss
  scss/block/box.scss
  scss/block/buttons.scss
  scss/block/content.scss
  scss/block/debug.scss
  scss/block/feedback.scss
  scss/block/header.scss
  scss/block/timer.scss
  scss/block/wartenummern.scss
  scss/index.scss
  scss/layout/main.scss
  scss/settings.scss
  scss/ticketprinter.scss
Due: none

update composer, fixed status fixture
  tests/Zmsticketprinter/fixtures/GET_status.json
Due: test-php-73, pages

ref #30149 - status in message as url path parameter, update confix example and composer
  config.example.php
  routing.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAssign.php
  templates/page/notification.twig
  templates/page/notificationAmendment.twig
  templates/page/process.twig
  tests/Zmsticketprinter/MessageTest.php
  tests/Zmsticketprinter/NotificationAssignFailedTest.php
  tests/Zmsticketprinter/NotificationAssignTest.php
  tests/Zmsticketprinter/NotificationFailedTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
Due: test-php-73, pages

ref #31330 - fix to keep homeurl on redirect to single scope view
  src/Zmsticketprinter/Helper/HomeUrl.php
  src/Zmsticketprinter/Index.php
Due: test-php-73, pages

structed form for single button with content from ticketprinter buttons
  templates/block/content/buttons.twig
  templates/exception/bo/layout.twig
  templates/exception/bo/zmsapi/exception/organisation/organisationnotfound.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotenabled.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/ticketprinternotfound.twig
  templates/exception/bo/zmsdb/exception/ticketprinterdisabledbyscope.twig
Due: test-php-73

ref #30142 - show error messages if telephone or waitingnumber not set or valid, offer a new notification amendment
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/content.scss
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAssign.php
  templates/block/content/buttons.twig
  templates/block/messages/process_notification_amendment_waitingnumber_unvalid.twig
  templates/block/messages/process_notification_number_unvalid.twig
  templates/page/message.twig
  templates/page/notification.twig
Due: test-php-73, pages

refs #31455 - return entity with updated enabled property
  src/Zmsticketprinter/Helper/Ticketprinter.php
Due: test-php-73, pages

refs #29808, #30049 - waitingnumber by cluster, display count of waiting clients and estimated waiting time, disable if buttons are not enabled
  public/_css/img/multibutton_disabled.png
  src/Zmsticketprinter/TicketprinterByScope.php
  src/Zmsticketprinter/TicketprinterProcess.php
  templates/block/content/buttons.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/process.twig
  tests/Zmsticketprinter/IndexRedirectTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/fixtures/GET_organisation_78.json
  tests/Zmsticketprinter/fixtures/GET_queuelist_312.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single_notification.json
Due: test-php-73, pages

ref #29839 - input handy number after getting a waitingnumber, exception template for exceeded numbercount
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  routing.php
  scss/block/content.scss
  scss/block/wartenummern.scss
  templates/element/helper/form.twig
  templates/exception/bo/zmsdb/exception/scope/givennumbercountexceeded.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/notification.twig
  templates/page/process.twig
Due: test-php-73

refs #31772 - added cache dir
  cache/.gitignore
Due: none

composer + config.example
  config.example.php
Due: none

ref #29814 - get organisation data to display header information
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/exception/bo/zmsentities/exception/ticketprinterunvalidbutton.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/buttonSingleRow_default.twig
Due: test-php-73, pages

ref #29796 - set home url by request if no cookie exists
  src/Zmsticketprinter/Helper/HomeUrl.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

ref #31936 - ticketprinter refactoring, get less data from api
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/header/pageheader.twig
  templates/exception/bo/zmsapi/exception/ticketprinter/unvalidbuttonlist.twig
  templates/exception/bo/zmsdb/exception/ticketprinter/disabledbyscope.twig
  templates/exception/bo/zmsdb/exception/ticketprinter/toomanybuttons.twig
  templates/exception/bo/zmsdb/exception/ticketprinter/unvalidbuttonlist.twig
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_department_127.json
Due: test-php-73, pages

fix package names
  src/Zmsticketprinter/Application.php
  src/Zmsticketprinter/BaseController.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/RedirectOld.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

add ticketprinter/process route
  routing.php
Due: none

ref #29793 - helper to create ticketprinter instance by hash or given arguments
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

ref #30149 - validate status message
  routing.php
  src/Zmsticketprinter/Message.php
Due: test-php-73, pages

install bower with npm - important for docker
  .gitignore
Due: none

ref #29755 - notification css
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/buttons.scss
  scss/page/notification.scss
  scss/ticketprinter.scss
Due: none

ref 29783 - add confirmation notification template
  routing.php
  src/Zmsticketprinter/TicketprinterProcessNotification.php
  templates/block/content/buttons.twig
  templates/element/helper/form.twig
  templates/page/notification.twig
Due: test-php-73, pages

ignore twig cache folder
  .gitignore
Due: none

ref #29796 - set date to now for print dialog
  templates/block/content/print.twig
Due: test-php-73

update composer for devel
  .gitignore
Due: none

Added noprint to ticketprinterhash
  templates/block/ticketprinterhash.twig
Due: test-php-73
