Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

ref #29816 - fix issuu with reload after printing in firefox 6+
  js/index.js
  js/page/process.js
  js/settings.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

ref #29796 - delete unused print templates
  templates/layout/print.twig
  templates/page/process_print.twig
Due: test-php-73

Healthcheck without process stats
  src/Zmsticketprinter/Healthcheck.php
  tests/Zmsticketprinter/HealthcheckTest.php
Due: test-php-73, pages

Ignore vendor.old and vendor.update
  .gitignore
Due: none

fix js linting
  Makefile
  gulp/tasks/lint.js
Due: none

ref #29840 - numberpad with js touchable buttons
  js/block/notification-keyboard-handheld.js
  js/index.js
  public/_css/img/handynummer_uebermitteln_i.png
  public/_js/index.js
  public/_js/index.js.map
  templates/element/helper/form.twig
  templates/page/notification.twig
  templates/page/notificationAmendment.twig
Due: test-php-73

Healthcheck with Closure to catch exceptions
  src/Zmsticketprinter/Healthcheck.php
Due: test-php-73, pages

ref #30850 - avoid double submits, bugfix count of waiting clients in process step
  js/element/form/preventFormResubmit.js
  js/index.js
  public/_js/index.js
  public/_js/index.js.map
  src/Zmsticketprinter/Process.php
  templates/page/process.twig
Due: test-php-73, pages

test bootstrap in parent folder, like in all other repositories
  phpunit.xml
  tests/bootstrap.php
Due: test-php-73, pages

refs #31333 - template parameter and refactoring
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/ticketprinterhash.scss
  src/Zmsticketprinter/Exception/TemplateNotFound.php
  src/Zmsticketprinter/Helper/TemplateFinder.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/page/customized/default.twig
  templates/page/customized/time.twig
  templates/page/customized/timewait.twig
  templates/page/customized/wait.twig
Due: test-php-73, pages

make live with prefer-dist
  Makefile
Due: none

ref #33416 - zmsticketprinter gitlab ci and route map for coverage changes
  .gitlab/route-map.yml
Due: none

ref #31331 - show exception template if authentification for config get failed
  templates/exception/bo/zmsapi/exception/config/configauthentificationfailed.twig
Due: test-php-73

refs #29839, #29799 - add form buttons for append notifications
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/buttons.scss
  scss/block/wartenummern.scss
  src/Zmsticketprinter/TicketprinterByScope.php
  src/Zmsticketprinter/TicketprinterNotification.php
  src/Zmsticketprinter/TicketprinterProcessNotification.php
  templates/block/content/buttons.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/process.twig
Due: test-php-73, pages

Added ZMS_TIMEADJUST
  config.example.php
Due: none

ref #30049 - Unit Testing up to 72% code coverage
  src/Zmsticketprinter/Helper/TemplateFinder.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/layout/main.twig
  templates/page/customized/buttonDisplay_cluster_290.twig
  templates/page/customized/buttonDisplay_department_104.twig
  templates/page/customized/buttonDisplay_department_128.twig
  templates/page/customized/buttonDisplay_scope_185.twig
  templates/page/customized/buttonDisplay_scope_297.twig
  templates/page/customized/buttonDisplay_scope_403.twig
  templates/page/customized/buttonDisplay_scope_559.twig
  templates/page/customized/buttonDisplay_scope_615.twig
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/HomeTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexRedirectHomeTest.php
  tests/Zmsticketprinter/IndexRedirectSingleScopeTest.php
  tests/Zmsticketprinter/MessageTest.php
  tests/Zmsticketprinter/NotificationByClusterTest.php
  tests/Zmsticketprinter/NotificationByScopeTest.php
  tests/Zmsticketprinter/NotificationFailedTest.php
  tests/Zmsticketprinter/OldRedirectTest.php
  tests/Zmsticketprinter/fixtures/GET_organisation_70.json
  tests/Zmsticketprinter/fixtures/GET_organisation_71.json
  tests/Zmsticketprinter/fixtures/GET_process_with_waitingnumber.json
  tests/Zmsticketprinter/fixtures/GET_scope_waitingnumber.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_2.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_cluster_283.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_cluster_290.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single_615.json
Due: test-php-73, pages

ref #29813 - add digital-clock js
  js/block/availability-timetable.js
  js/block/digital-clock.js
  js/block/pickup-keyboard-handheld.js
  js/element/form.js
  js/element/form/datepicker.js
  js/element/form/input-counter.js
  js/index.js
  js/lib/baseview.js
  js/lib/bindHandler.js
  js/lib/errorHandler.js
  js/settings.js
  public/_js/index.js
  public/_js/index.js.map
  templates/layout/main.twig
Due: test-php-73

ref #29816 - fix issuu with appendNumber in hanheld firefox 6+ - need event as function parameter
  js/block/notification-keyboard-handheld.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

Silent chmod with message
  bin/configure
Due: none

gitattributes composer.lock + fixed HomeUrl Redirect with Port 8443
  .gitattributes
  src/Zmsticketprinter/Helper/HomeUrl.php
Due: test-php-73, pages

disable overflow:hidden for testing
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/layout/main.scss
Due: none

ref #29810 - show estimated queue position, return to button page with hasWaitingnumber post param
  routing.php
  src/Zmsticketprinter/TicketprinterByScope.php
  src/Zmsticketprinter/TicketprinterProcess.php
  templates/page/buttonSingleRow_default.twig
  templates/page/process.twig
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_queuelist_141.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single.json
Due: test-php-73, pages

more status debugging with cookies from request, add readResponse method to base controller
  src/Zmsticketprinter/BaseController.php
  src/Zmsticketprinter/Status.php
  templates/page/status.twig
Due: test-php-73, pages

update packages and public js and css
  public/_css/abbrechen.e1c491a3.png
  public/_css/abbrechen_a.b18fdc6d.png
  public/_css/background_eingabe.b451d7fc.png
  public/_css/handynummer_nachtragen.1fbd03d4.png
  public/_css/handynummer_uebermitteln.409a90b4.png
  public/_css/handynummer_uebermitteln_a.85d89036.png
  public/_css/handynummer_uebermitteln_i.503086e7.png
  public/_css/invisible_Mauszeiger.e28f8c73.cur
  public/_css/ja_nein.6ffffbf5.png
  public/_css/multibutton.8895f510.png
  public/_css/multibutton_disabled.ded1f1e1.png
  public/_css/naechster_kunde.5902d80f.png
  public/_css/textflaeche_gross.dab4858b.png
  public/_css/textflaeche_klein.50280aa2.png
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_css/wartenummer_anfordern.3712e954.png
  public/_css/zahl.4ee8f23b.png
  public/_css/zahl_a.a1676563.png
  public/_js/index.js
  public/_js/index.js.map
Due: none

refs #55684 - removed berlin logo from background graphics
  public/_css/background_eingabe.33b1bd0d.png
  public/_css/background_eingabe.8a7977b1.png
  public/_css/background_eingabe.ae7e8751.png
  public/_css/background_eingabe.b451d7fc.png
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
