Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    variables:
      PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsmessaging

build-docker:
    extends: .build-docker
    variables:
        PHP_VERSION: "8.0"
    only:
        - tags
        - main
        - /^[a-z]+[\/-]bug[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]feature[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]hotfix[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]dev(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]test(-[a-zA-Z0-9_-]+)?$/
        - /^[a-z]+[\/-]release[\/-][a-zA-Z0-9_-]+$/
        - /^[a-z]+[\/-]prod$/
        - /^[a-z]+[\/-]main$/

update composer
  composer.lock
Due: test-php-73

Revert "Merge branch 'muc-feature-1389-adjust-waiting-stat' into 'muc-main'"
  .gitignore
  CHANGELOG.md
  src/Zmsstatistic/Download/WaitingReport.php
  src/Zmsstatistic/ReportWaitingIndex.php
  templates/page/reportRequestIndex.twig
  templates/page/reportWaitingIndex.twig
Due: test-php-73, pages

feat(ZMS-474): added getters
  src/Zmsentities/Process.php
Due: test-php-73, pages

feat(ZMS-474): calculate processing time
  migrations/1697703533-add-bearbeitungszeit-field-in-buergerarchiv.sql
  src/Zmsdb/Helper/ArchivedDataIntoStatisticByCron.php
  src/Zmsdb/ProcessStatusArchived.php
  src/Zmsdb/Query/ProcessStatusArchived.php
Due: test-php-73, pages

Revert "Add cache"
  src/Zmsadmin/Application.php
Due: test-php-73, pages

feat(ZMS-1479): show info instead of error
  src/Zmsadmin/CounterAppointmentTimes.php
Due: test-php-73, pages

Revert "composer update"
  composer.json
  composer.lock
Due: test-php-73

Revert "composer update"
  composer.lock
Due: test-php-73

Revert "composer update"
  composer.json
  composer.lock
  migrations/1697187247-add-standort-custom-text-field.sql
  phpunit.xml
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
  src/Zmsdb/Query/Scope.php
  tests/Zmsdb/MailTest.php
  tests/Zmsdb/SourceTest.php
Due: test-php-73, pages

update composer
  composer.json
Due: test-php-73

update composer
  composer.json
  composer.lock
Due: test-php-73

Add missing files commits
  composer.lock
  migrations/1697187247-add-standort-custom-text-field.sql
  phpunit.xml
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
  src/Zmsdb/Query/Scope.php
  tests/Zmsdb/MailTest.php
  tests/Zmsdb/SourceTest.php
Due: test-php-73, pages

Add Freitext to kundenaufruf
  templates/block/process/info.twig
Due: test-php-73

Revert "Revert "Merge branch 'muc-feature-1389-adjust-waiting-stat' into 'muc-main'""
  .gitignore
  CHANGELOG.md
  src/Zmsstatistic/Download/WaitingReport.php
  src/Zmsstatistic/ReportWaitingIndex.php
  templates/page/reportRequestIndex.twig
  templates/page/reportWaitingIndex.twig
Due: test-php-73, pages

Revert "resolve merge conflicts"
  src/Zmsadmin/Application.php
  src/Zmsadmin/CounterAppointmentTimes.php
  src/Zmsadmin/Helper/GraphDefaults.php
  src/Zmsadmin/ProcessChange.php
  src/Zmsadmin/ProcessQueue.php
  src/Zmsadmin/ProcessReserve.php
  src/Zmsadmin/ScopeAppointmentsByDayXlsExport.php
  templates/block/appointment/form.twig
  templates/block/queue/table.twig
  templates/block/scope/form.twig
Due: test-php-73, pages

Readd lost cosde in merge
  src/Zmsadmin/CounterAppointmentTimes.php
Due: test-php-73, pages

feat(ZMS-474): fix calculating processing time
  src/Zmsdb/Query/ProcessStatusArchived.php
Due: test-php-73, pages

feat(ZMS-474): fix field type
  schema/dereferenced/day.json
  schema/dereferenced/mail.json
  schema/dereferenced/notification.json
  schema/dereferenced/process.json
  schema/dereferenced/workstation.json
  schema/process.json
Due: none

feat(ZMS-474): fix calculation
  src/Zmsdb/Query/ProcessStatusArchived.php
Due: test-php-73, pages

reenable tests and adjust some production code for edge cases
  schema/provider.json
  schema/request.json
  src/Zmsentities/Helper/Messaging.php
Due: test-php-73, pages

feat(ZMS-474): fix missing mapping
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

feat(ZMS-474): fix
  src/Zmsdb/Query/ProcessStatusArchived.php
Due: test-php-73, pages

feat(ZMS-474): fix mapping
  src/Zmsdb/Query/ProcessStatusArchived.php
Due: test-php-73, pages

fix(ZMS-1564): fix table lock
  src/Zmsdb/Helper/AppointmentDeallocateByCron.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

fix(ZMS-1546): revert left join
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

fix(ZMS-1564): fix lock
  composer.lock
Due: test-php-73

fix(ZMS-1564): fix missing method
  src/Zmsdb/Process.php
Due: test-php-73, pages

fix(ZMS-1564): fix missing method
  composer.lock
Due: test-php-73

feat(ZMS-474): adjust processing time calculation
  src/Zmsdb/Helper/ArchivedDataIntoStatisticByCron.php
  src/Zmsdb/ProcessStatusArchived.php
Due: test-php-73, pages

Add process to called
  composer.lock
  src/Zmsadmin/WorkstationProcessCalled.php
Due: test-php-73, pages

Add process to called
  src/Zmsadmin/WorkstationProcessCalled.php
Due: test-php-73, pages

feat(ZMS-474): select average processing time
  src/Zmsdb/ExchangeRequestscope.php
  src/Zmsdb/Query/ExchangeRequestscope.php
Due: test-php-73, pages
