Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  variables:
    PHP_VERSION: '7.3'
  image: registry.gitlab.com/eappointment/php-base:${PHP_VERSION}-dev
  script:
  - $CLI_COMPOSER
  - $CLI_PHPCS
  - $CLI_PHPMD
  - docker-php-ext-enable xdebug
  - $CLI_PHPUNIT $CLI_PHPUNIT_PARAM
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  allow_failure: true
  before_script:
  ...

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages

add adjusted keycloak configuration and adjust css to make footer sticky
  keycloak.json
  public/_css/admin.css
  public/_css/admin.css.map
Due: none

PHP 8.0 Build
  .gitlab-ci.yml
Due: test-php-73, pages

PHP 8.0 Pipeline Tests
  .gitlab-ci.yml
Due: test-php-73, pages

squizlabs/php_codesniffer updated for PHP 8.0
  composer.json
  composer.lock
Due: test-php-73

feat(ZMS-1154): add primary key
  src/Zmsdb/Query/Day.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

feat(ZMS-1154): change primary key
  src/Zmsdb/Query/Day.php
Due: test-php-73, pages

feat(ZMS-1154): fix primary key
  src/Zmsdb/Query/Day.php
Due: test-php-73, pages

feat(ZMS-1154): test
  migrations/16032023-add-config-for-cronjob-preconfirmed.sql
Due: none

feat(ZMS-1407): increase max slots to 25
  src/Zmsdb/Slot.php
Due: test-php-73, pages

remove debug logs
  src/Zmsapi/WorkstationLogin.php
Due: test-php-73, pages

Add Terminkunden to wartestatistik db tabelle part 1
  migrations/20230912-wartenrstatistik-zms1389-add-terminkunden.sql
  src/Zmsdb/ExchangeWaitingdepartment.php
  src/Zmsdb/ExchangeWaitingorganisation.php
  src/Zmsdb/ExchangeWaitingowner.php
  src/Zmsdb/ExchangeWaitingscope.php
  src/Zmsdb/Query/ExchangeWaitingscope.php
Due: test-php-73, pages

muc-main into muc-prod
  Dockerfile
  README.md
  bin/configure
  composer.json
  composer.lock
  config.php
  keycloak.json
  routing.php
  src/Zmsstatistic/Application.php
  src/Zmsstatistic/Download/Base.php
  src/Zmsstatistic/Download/ClientReport.php
  src/Zmsstatistic/Helper/Access.php
  src/Zmsstatistic/Helper/LoginForm.php
  src/Zmsstatistic/Index.php
  src/Zmsstatistic/Oidc.php
  src/Zmsstatistic/QuickLogin.php
  src/Zmsstatistic/ReportClientDepartment.php
  src/Zmsstatistic/ReportClientIndex.php
  src/Zmsstatistic/WorkstationSelect.php
  templates/block/changelog/changelogitem.twig
  templates/block/header/pageheader.twig
  templates/block/index/loginform.twig
  templates/exception/bo/layout.twig
  templates/exception/bo/slim/exception/oauthfailed.twig
  templates/exception/bo/slim/exception/oauthinvalid.twig
  templates/exception/bo/slim/exception/oauthpreconditionfailed.twig
  templates/exception/default.twig
  tests/Zmsstatistic/IndexTest.php
  tests/Zmsstatistic/ReportClientDepartmentTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientScopeTest.php
  tests/Zmsstatistic/fixtures/GET_clientdepartment_74_042016.json
  tests/Zmsstatistic/fixtures/GET_clientorganisation_71_042016.json
  tests/Zmsstatistic/fixtures/GET_clientscope_141_042016.json
  tests/Zmsstatistic/fixtures/GET_clientscope_141_2016.json
Due: test-php-73, pages

muc-main into muc-prod
  .gitlab-ci.yml
  composer.json
  composer.lock
  keycloak.json
  public/_css/admin.css
  public/_css/admin.css.map
  src/Zmsadmin/Application.php
  src/Zmsadmin/Helper/Calendar.php
  src/Zmsadmin/Index.php
  src/Zmsadmin/Profile.php
  src/Zmsadmin/QuickLogin.php
  src/Zmsadmin/UseraccountAdd.php
Due: test-php-73, pages

Update ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
Due: test-php-73, pages

muc-main into muc-prod
  tests/Zmsstatistic/ReportClientOrganisationTest.php
Due: test-php-73, pages

feat(ZMS-1476): add more logging
  bin/deleteUnconfirmedAppointmentData
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

hotfix(ZMS-1476): update zmsdb
  composer.lock
Due: test-php-73

Update 20230912-wartenrstatistik-zms1389-add-terminkunden.sql
  migrations/20230912-wartenrstatistik-zms1389-add-terminkunden.sql
Due: none

feat(ZMS-1387): add munich customization
  src/Zmsentities/Helper/Messaging.php
Due: test-php-73, pages

feat(ZMS-1387): add munich specifics
  src/Zmsdb/Calldisplay.php
Due: test-php-73, pages

Update composer
  .gitignore
  composer.json
  composer.lock
Due: test-php-73

feat(ZMS-1389): adjust listing data for spontan and termin appointments
  src/Zmsdb/ExchangeWaitingdepartment.php
  src/Zmsdb/ExchangeWaitingorganisation.php
  src/Zmsdb/ExchangeWaitingowner.php
  src/Zmsdb/ExchangeWaitingscope.php
Due: test-php-73, pages

feat(ZMS-1389): adjust waiting time calculation
  src/Zmsdb/ExchangeWaitingscope.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/ExchangeWaitingscope.php
Due: test-php-73, pages

feat(ZMS-1389): fix cs
  src/Zmsdb/ExchangeWaitingscope.php
  src/Zmsdb/Query/ExchangeWaitingscope.php
Due: test-php-73, pages

feat(ZMS-1389): refactoring
  src/Zmsdb/ExchangeWaitingscope.php
  src/Zmsdb/Query/ExchangeWaitingscope.php
Due: test-php-73, pages

Enabled Tests for PHP 8.0
  .gitlab-ci.yml
Due: test-php-73, pages

feat(ZMS-1389): adjust waiting stat
  src/Zmsstatistic/ReportWaitingIndex.php
  templates/page/reportWaitingIndex.twig
Due: test-php-73, pages

feat(ZMS-1389): adjust waiting stats
  composer.json
  composer.lock
Due: test-php-73

Update file WaitingReport.php
  src/Zmsstatistic/Download/WaitingReport.php
Due: test-php-73, pages

feat(ZMS-1389): update zmsdb
  composer.lock
Due: test-php-73

feat(ZMS-1389): fix calculation
  src/Zmsdb/ExchangeWaitingscope.php
Due: test-php-73, pages

feat(ZMS-1389): fix
  src/Zmsdb/ExchangeWaitingscope.php
Due: test-php-73, pages

Update file ExchangeWaitingscope.php
  src/Zmsdb/ExchangeWaitingscope.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
