Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

ref #30169 - reload page to /home/, no need to call from cookie, throw exception if home not set
  js/page/main.js
  public/_js/index.js
  public/_js/index.js.map
  src/Zmsticketprinter/Exception/HomeNotFound.php
  src/Zmsticketprinter/Home.php
  templates/exception/bo/zmsticketprinter/exception/homenotfound.twig
Due: test-php-73, pages

telephone number as string, leading 0 ist not valid integer
  src/Zmsticketprinter/NotificationAssign.php
Due: test-php-73, pages

refs #31722 - ensure writeable cache path
  bin/configure
Due: none

ref #31328 - fix custom template
  templates/page/customized/buttonDisplay_department_104.twig
Due: test-php-73

update composer, show dev hint if ZMS_ENV not www
  templates/layout/main.twig
Due: test-php-73

add exception template if no telefon number found for client
  templates/exception/bo/zmsdb/exception/notification/clientwithouttelephone.twig
Due: test-php-73

refs #31457 - added ticketprinterhash
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  scss/block/debug.scss
  scss/block/ticketprinterhash.scss
  scss/ticketprinter.scss
  templates/block/ticketprinterhash.twig
  templates/layout/main.twig
Due: test-php-73

refs #30049 - unit tests 100% with additional dialog test, phpunit 6 and paratest on devel branch
  Makefile
  src/Zmsticketprinter/Helper/TemplateFinder.php
  src/Zmsticketprinter/Helper/Ticketprinter.php
  templates/block/content/dialog.twig
  tests/Zmsticketprinter/DialogHandlerTest.php
  tests/Zmsticketprinter/HomeTest.php
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexRedirectHomeTest.php
  tests/Zmsticketprinter/NotificationFailedTest.php
  tests/Zmsticketprinter/RoutingTest.php
  tests/bootstrap.php
Due: test-php-73, pages

Fixed redirect loop and refactoring Helper\Ticketprinter
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/Process.php
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/HomeUrlTest.php
  tests/Zmsticketprinter/Index2ButtonsTest.php
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexCustomizedByClusterTest.php
  tests/Zmsticketprinter/IndexCustomizedByDepartmentTest.php
  tests/Zmsticketprinter/IndexRedirectHomeTest.php
  tests/Zmsticketprinter/IndexRedirectSingleScopeTest.php
  tests/Zmsticketprinter/IndexTest.php
  tests/Zmsticketprinter/MessageTest.php
  tests/Zmsticketprinter/NotificationAmendmentTest.php
  tests/Zmsticketprinter/NotificationByClusterTest.php
  tests/Zmsticketprinter/NotificationByScopeTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
Due: test-php-73, pages

ref #30149 - message page with different status messages depending on request parameters
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  routing.php
  scss/block/buttons.scss
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/buttons.twig
  templates/block/content/feedback.twig
  templates/block/messages/notification_amendment_canceled.twig
  templates/block/messages/notification_amendment_success.twig
  templates/block/messages/process_notification_amendment_canceled.twig
  templates/block/messages/process_notification_success.twig
  templates/block/messages/process_success.twig
  templates/element/helper/form.twig
  templates/exception/bo/zmsapi/exception/process/processnotfound.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/message.twig
  templates/page/notification.twig
  templates/page/notificationAmendment.twig
  templates/page/process.twig
Due: test-php-73, pages

ref #29793 - get Ticketprinter by scope id, update composer.lock
  routing.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

__invoke to readResponse with initiated multilanguage support in basecontroller
  src/Zmsticketprinter/BaseController.php
  src/Zmsticketprinter/Healthcheck.php
  src/Zmsticketprinter/Home.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/Message.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/NotificationAmendment.php
  src/Zmsticketprinter/NotificationAssign.php
  src/Zmsticketprinter/Process.php
  src/Zmsticketprinter/RedirectOld.php
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/404.twig
  templates/block/content/IntroText.twig
  templates/block/content/estimatedWaitingClients.twig
  templates/block/content/estimatedWaitingTime.twig
  templates/block/default/head.twig
  templates/element/helper/snippets.twig
  templates/exception/bo/layout.twig
  templates/exception/default.twig
  templates/page/process.twig
  tests/Zmsticketprinter/CustomizedTemplateTest.php
Due: test-php-73, pages

Docker integrationtest added
  bin/configure
Due: none

ref #29850 - get estimated time and clients separated
  src/Zmsticketprinter/TicketprinterByScope.php
  templates/block/content/estimatedWaitingClients.twig
  templates/block/content/estimatedWaitingTime.twig
  templates/page/buttonDisplay_default.twig
  tests/Zmsticketprinter/CustomizedTemplateTest.php
  tests/Zmsticketprinter/TicketprinterByScopeTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithNotificationTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_scope_141.json
  tests/Zmsticketprinter/fixtures/GET_scope_312.json
  tests/Zmsticketprinter/fixtures/GET_scope_615.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single.json
Due: test-php-73, pages

composer.lock
  .gitignore
Due: none

ref #29801 - unit testing, cluster without scope exception template
  src/Zmsticketprinter/Helper/Ticketprinter.php
  src/Zmsticketprinter/TicketprinterProcess.php
  templates/exception/bo/zmsdb/exception/clusterwithoutscopes.twig
  tests/Zmsticketprinter/IndexByClusterFirstButtonTest.php
  tests/Zmsticketprinter/IndexRedirectTest.php
  tests/Zmsticketprinter/IndexTest.php
  tests/Zmsticketprinter/TicketprinterByScopeWithoutHashTest.php
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_multi.json
  tests/Zmsticketprinter/fixtures/GET_ticketprinter_buttonlist_single.json
Due: test-php-73, pages

ref #31325 - bugfix: disable button if scope is not opened with disabled property, disabled class is only for layout
  templates/block/content/buttons.twig
Due: test-php-73

refs #30169 - reload page every 30 seconds with redirect to home url from cookie
  js/block/availability-timetable.js
  js/element/form.js
  js/element/form/datepicker.js
  js/element/form/input-counter.js
  js/index.js
  js/page/main.js
  public/_js/index.js
  public/_js/index.js.map
  templates/layout/main.twig
Due: test-php-73

ref #31330 - title and page header customized for ticketprinter disabled exception
  templates/block/default/head.twig
  templates/exception/bo/layout.twig
  templates/exception/bo/zmsdb/exception/ticketprinter/disabledbyscope.twig
Due: test-php-73

ref #30130 - get process by cluster id unused, only scope should be given
  src/Zmsticketprinter/Exception/ScopeAndClusterNotFound.php
  src/Zmsticketprinter/Exception/ScopeNotFound.php
  src/Zmsticketprinter/Notification.php
  tests/Zmsticketprinter/NotificationByClusterTest.php
  tests/Zmsticketprinter/NotificationByScopeTest.php
  tests/Zmsticketprinter/NotificationFailedTest.php
Due: test-php-73, pages

ref #30049 - Unit Test - Code Coverage 100%
  src/Zmsticketprinter/Exception/ScopeAndClusterNotFound.php
  src/Zmsticketprinter/Notification.php
  src/Zmsticketprinter/Process.php
  tests/Zmsticketprinter/NotificationAmendmentTest.php
  tests/Zmsticketprinter/NotificationAssignFailedTest.php
  tests/Zmsticketprinter/NotificationAssignTest.php
  tests/Zmsticketprinter/ProcessByClusterTest.php
  tests/Zmsticketprinter/ProcessByScopeTest.php
  tests/Zmsticketprinter/fixtures/GET_process_100044_57c2.json
  tests/Zmsticketprinter/fixtures/GET_process_100044_57c2_notification_queued.json
  tests/Zmsticketprinter/fixtures/GET_process_100044_57c2_updated.json
  tests/Zmsticketprinter/fixtures/GET_scope_lessdata.json
Due: test-php-73, pages

ref #29783 - start to convert zms1 html in twig templates
  templates/block/content/buttons.twig
  templates/block/content/feedback.twig
  templates/block/default/devhint.twig
  templates/block/default/head.twig
  templates/block/header/pageheader.twig
  templates/block/timer/time.twig
  templates/element/helper/form.twig
  templates/element/helper/snippets.twig
  templates/layout/main.twig
  templates/page/buttonMultiRow_default.twig
  templates/page/buttonSingleRow_default.twig
  templates/page/index.twig
Due: test-php-73

fix eslint errors
  js/block/digital-clock.js
  js/page/main.js
  js/page/process.js
Due: none

refs #29810, #30106 - exception template if scope not found for queueList
  templates/exception/bo/zmsapi/exception/scope/scopenotfound.twig
Due: test-php-73

bugfixing - get estimatedData only from available queue, return null if no queue found
  bootstrap.php
  src/Zmsticketprinter/Index.php
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

composer.lock + Healthcheck fix
  src/Zmsticketprinter/Healthcheck.php
  tests/Zmsticketprinter/HealthcheckTest.php
Due: test-php-73, pages

created single, multirow and multirow_deep button loops
  templates/block/content/buttons.twig
  templates/element/helper/form.twig
  templates/page/buttonSingleRow_default.twig
Due: test-php-73

ref #29793 - get ticketprinter by hash if exists, else create new
  src/Zmsticketprinter/TicketprinterByScope.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
