Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsmessaging/ /zmsmessaging/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsmessaging

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed unit test on notification registration
  tests/Zmsticketprinter/fixtures/GET_department_127.json
Due: test-php-73, pages

CHANGELOG.md
  CHANGELOG.md
Due: none

generated js
  public/_js/index.js
  public/_js/index.js.map
Due: none

refs #36425 - Remove HTTPS-Redirect
  js/index.js
Due: none

refs #35531 - abort belated phonenumber registering if process client has phonenumber already
  src/Zmsticketprinter/Notification.php
  templates/block/messages/process_notification_amendment_phonenumber_exists.twig
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

change twig extension german date function to localized intl filter for time and date
  bootstrap.php
  templates/block/content/print.twig
Due: test-php-73

refs #44659 - fixed number of waiting clients
  bin/test
  src/Zmsticketprinter/Helper/QueueListHelper.php
  src/Zmsticketprinter/Process.php
  templates/page/process.twig
Due: test-php-73, pages

refs #35007 - remove debugging elements and add CHANGELOG.md entry
  CHANGELOG.md
  templates/page/process.twig
Due: test-php-73

Replace gulp with parceljs
  .eslintrc.js
  .gitignore
  Makefile
  js/index.js
  js/page/main.js
  js/page/newhash.js
  js/page/process.js
  scss/img/abbrechen.png
  scss/img/abbrechen_a.png
  scss/img/background_eingabe.png
  scss/img/handynummer_nachtragen.png
  scss/img/handynummer_uebermitteln.png
  scss/img/handynummer_uebermitteln_a.png
  scss/img/handynummer_uebermitteln_i.png
  scss/img/invisible_Mauszeiger.cur
  scss/img/ja_nein.png
  scss/img/multibutton.png
  scss/img/multibutton_disabled.png
  scss/img/naechster_kunde.png
  scss/img/textflaeche_gross.png
  scss/img/textflaeche_klein.png
  scss/img/wartenummer_anfordern.png
  scss/img/zahl.png
  scss/img/zahl_a.png
Due: none

Fix eslintrc
  .eslintrc.js
  js/block/digital-clock.js
Due: none

refs #35008 - ok button to custombutton to allow display of multiple scopes after ok
  templates/page/process.twig
Due: test-php-73

update public css and js
  public/_css/abbrechen.070433a8.png
  public/_css/abbrechen_a.08574efa.png
  public/_css/background_eingabe.8a7977b1.png
  public/_css/handynummer_nachtragen.d6fe8b17.png
  public/_css/handynummer_uebermitteln.19134754.png
  public/_css/handynummer_uebermitteln_a.fefbbbd8.png
  public/_css/handynummer_uebermitteln_i.05dfaa48.png
  public/_css/invisible_Mauszeiger.1837db88.cur
  public/_css/ja_nein.60fc2c7f.png
  public/_css/multibutton.28a638a2.png
  public/_css/multibutton_disabled.28030620.png
  public/_css/naechster_kunde.e9efb60d.png
  public/_css/textflaeche_gross.27f8e9e3.png
  public/_css/textflaeche_klein.8f3ac408.png
  public/_css/ticketprinter.css
  public/_css/ticketprinter.css.map
  public/_css/wartenummer_anfordern.aa67bca5.png
  public/_css/zahl.7b637de5.png
  public/_css/zahl_a.97811f46.png
  public/_js/index.js
  public/_js/index.js.map
Due: none

twig extensions in namespaces mode
  bootstrap.php
Due: none

fixed deprecated jquery functions
  js/block/digital-clock.js
  js/page/main.js
  js/page/process.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

add data attributes temporarily to allow debugging on staging
  templates/page/process.twig
Due: test-php-73

update package-lock with npm v6 and node 14
  .gitignore
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}
